@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: Roboto, sans-serif;
    width: 90%;
    margin: 0 auto;
}

header {
    display: inline;
}

.logo {
    float: left;
    margin: 10px 20px; 
    color: #a389c8; 
    position: sticky;
    top: 0;
}

nav {
    background-color: white;
    margin-top: 15px;
    position: sticky;
    top: 0;
    z-index: 1;
}

nav ul {
    float: right;
}

nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    padding: 0 10px;
}

nav a:hover {
    font-weight: bold;
    transition: weight 0.5s;
}

li {
    display: inline;
}

.clear {
    clear: right;
}


/* main  */
/* content: home */
main {
    display: block;
}


#home {
    display: flex;
}

#home img {
    height: 500px;
    width: 500px;
}

#home aside {
    color: #a389c8;
    margin: 100px 0px 0px 50px;
}

#home aside h2 {
    font-size: 40px;
    font-weight: 400;
}

#home aside button {
    font-size: 30px;
    font-weight: 400;
}

button {
    background-color: #5c14c2;
    color: white;
    border: none;
    text-decoration: none;
    text-align: center;
    padding: 15px;
    border-radius: 4px;
    outline: none;
    background-position: center;
    transition: background 0.8s;
}

button:hover {
    cursor: pointer;
    background: #41009c 
        radial-gradient(circle, transparent 1%,  
        #41009c 1%) center/15000%;
}

button:active {
    background-color: #743fbd; ;
    background-size: 100%;
    transition: background 0s;
}


/* content: courses */

#courses {
    margin-top: 50px;
    padding-top: 50px;
}

#courses header {
    margin-bottom: 50px;
}

#courses header p {
    font-size: 25px;
    width: 800px;
    margin: 20px auto;
    text-align: center;
    color: #505050;
}

.courses {
    display: flex;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    width: 250px;
    margin: 10px auto;
    padding: 10px;
    text-align: center;
    transition: transform 0.3s;
 }

.card img {
    width: 200px;
}

.card h2 {
     color: #a389c8;
 }

.card p {
    color: #8f8f8f;
    font-size: small;
    margin-top: 10px;
}

.card:hover {
  transform: scale(1.1);  
}