@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    width: 98%;
    font-family: Roboto, sans-serif;
    margin: 0 auto;
}

main {
    width: 90%;
    margin: 0 auto;
}

header {
    display: inline;
}

.logo {
    float: left;
    margin: 10px 20px; 
    color: #a389c8; 
    position: sticky;
    top: 0;
}

nav {
    background-color: white;
    margin-top: 15px;
    position: sticky;
    top: 0;
    z-index: 1;
}

nav ul {
    float: right;
}

nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    padding: 0 10px;
}

nav a:hover {
    font-weight: bold;
    transition: weight 0.5s;
}

li {
    display: inline;
}

.__nav-bars {
    display: none;
} 

.clear {
    clear: right;
}


/* main  */
/* content: home */
main {
    display: block;
}


#home {
    padding-top: 40px;
    display: flex;
}

#home img {
    height: 500px;
    width: 500px;
}

#home aside {
    color: #a389c8;
    margin: 100px 0px 0px 50px;
}

#home aside h2 {
    font-size: 40px;
    font-weight: 400;
}

#home aside button {
    font-size: 30px;
    font-weight: 400;
}

button {
    background-color: #5c14c2;
    color: white;
    border: none;
    text-decoration: none;
    text-align: center;
    border-radius: 4px;
    outline: none;
    background-position: center;
    transition: background 0.8s;
}

#home button {
    padding: 15px;
}

button:hover {
    cursor: pointer;
    background: #41009c 
        radial-gradient(circle, transparent 1%,  
        #41009c 1%) center/15000%;
}

button:active {
    background-color: #743fbd; ;
    background-size: 100%;
    transition: background 0s;
}


/* content: courses */

#courses {
    margin-top: 100px;
    padding-top: 50px;
}

#courses header {
    margin-bottom: 50px;
}

.section-intro{
    font-size: 25px;
    width: 800px;
    margin: 20px auto;
    text-align: center;
    color: #505050;
}

.courses {
    display: flex;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    width: 250px;
    margin: 10px auto;
    padding: 10px;
    text-align: center;
    transition: transform 0.3s;
 }

.card img {
    width: 200px;
}

.card h2 {
     color: #a389c8;
 }

.card p {
    color: #8f8f8f;
    font-size: small;
    margin-top: 10px;
}

.card:hover {
    cursor: pointer;
    transform: scale(1.1);  
}


/* content: community */

#community {
    margin-top: 100px;
    padding-top: 50px;
}

#community article {
    display: flex;
}

#community form {
    width: 50%;
    margin: 0px 10px;
}

#community a {
    text-decoration: none;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0px;
    box-sizing: border-box;
}

form button {
    width: 100px;
    height: 40px;
    padding: 10px;
    font-size: 15px;
}

#community aside {
    display: flex;
    width: 50%;
    margin: 0px 10px;
    padding: 30px 0px;
}

.description {
    text-align: justify;
    color: #505050;
}

#community aside img {
    align-items: center;
    height: 300px;
}


/* content: about me */
#about-me {   
    margin-top: 100px;
    padding-top: 50px;
}

.about-me {
    display: flex;
    margin-top: 50px;
}

.about-me img {
    padding: 10px;
    margin: 50px auto;
    width: 300px;
    height: auto;
}

.about-me h1 {
    text-align: center;
    font-size: 50px;
    color: #a389c8; 
}

.about-me-desc {
    font-size: 20px;
    width: 600px;
    margin: 20px auto;
}

.profile p {
    color: #a389c8; 
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.social-media{
    display: flex;
    justify-content: center;
}

.social-media img {
    width: 30px;
    height: auto;
    margin: 0px 10px;
}

/* footer  */
footer {
    color: white;
    background-color: #340a70;
    margin-top: 50px;
    padding: 30px 30px;
}

.copyright {
    text-align: center;
    padding-bottom: 50px;
}
.credits {text-align: center;}

.credits a{
    color: white;
}


/* responsive design  */

@media screen and (max-width:1300px) {
    body, main {
        width: 90%;    
    }
    #home, .courses, #community article,
    .about-me, #community aside {
        flex-direction: column;
    }
    #home img, .section-intro, .card img, 
    #community aside img, .about-me img,
    #community aside, #community form,  
    .about-me-desc
    {
        height: auto;
        width: 100%;
    }
    #home aside {
        margin: 0px auto;
    }
    #home aside h2 {
        font-size: 30px;
        font-weight: 400;
    }
    .section-intro{
        font-size: 20px;
    }
    .card {
        width: 100%;
        height: auto;
    }
    .card h2 {
        font-size: 5vw;
    }
    .card p {
        font-size: 3vw;
    }
    .social-media img {
        width: 20px;
        height: auto;
    }
}

/* responsive nav */
@media screen and (max-width: 590px) {
    nav ul a{
        display: none;
    }
    .__nav-bars {
        display: block;
        box-sizing: border-box;
        float: right;
        margin: 10px 20px;
    }
    .__nav-bars img {
        width: 30px;
        height: auto;
    }
    .__nav.responsive ul a{
        display: block;
        text-align: right;
    }
    .__nav.responsive ul {
        width: 300px;
    }
}